#
# Copyright (c) Andras Csizmadia <andras@vpmedia.hu> (www.vpmedia.hu)
# author: Andras Csizmadia <andras@vpmedia.hu>
# see: https://eslint.org/docs/latest/user-guide/configuring/ignoring-code
#

.github/
.husky/
.vscode/
.idea/
asset/
build/
coverage/
deploy/
dist/
node_modules/
public/
types/
