#
# Copyright (c) Andras Csizmadia <andras@vpmedia.hu> (www.vpmedia.hu)
# author: Andras Csizmadia <andras@vpmedia.hu>
# version: 1.0.0
# see: https://eslint.org/docs/latest/user-guide/configuring/ignoring-code
#

dist/
node_modules/
