#
# Copyright (c) Andras Csizmadia <andras@vpmedia.hu> (www.vpmedia.hu)
# author: Andras Csizmadia <andras@vpmedia.hu>
# version: 1.0.0
# see: https://git-scm.com/docs/gitignore
#

# folders
/dist
/lib
/node_modules

# files
.phixify.json
.DS_Store
*.log
*.tgz

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

