#
# Copyright (c) Andras Csizmadia <andras@vpmedia.hu> (www.vpmedia.hu)
# author: Andras Csizmadia <andras@vpmedia.hu>
# see: https://docs.npmjs.com/cli/v8/using-npm/developers#keeping-files-out-of-your-package
#

.github/
asset/
src/
.dockerignore
.DS_Store
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
lint-staged.config.js
.npmignore
.npmrc
.phixify.json
.prettierignore
prettier.config.js
bitbucket-pipelines.yml
docker-run.sh
Dockerfile
vitest.config.js
phixify.sh
rollup.config.js
