#
# Copyright (c) Andras Csizmadia <andras@vpmedia.hu> (www.vpmedia.hu)
# author: Andras Csizmadia <andras@vpmedia.hu>
# see: https://prettier.io/docs/en/ignore.html
#

.github/
.husky/
asset/
dist/
node_modules/
package-lock.json
